{% extends "layout/base.html" %}

{% block title %}
View Gender 
{% endblock title %}

{% block content %}

<div class="col-md-4 mx-auto mt-3">
    <form action="/gender_store" method="post">
        <div class="mb-3">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" value="{{ gender.gender }}" readonly />
        </div>
        <a href="/genders" class="btn btn-secondary float-end col-12 col-me-3 md-1">Back</a>
    </form>
</div>

{% endblock content %}
